.SettingsView header {
    margin-bottom: 24px;
}
.SettingsView section {
    margin-bottom: 24px;
}
.SettingsView select {
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 24px;
}
.SettingsView .spacer {
    margin-top: 12px;
}
.SettingsView form select {
    background: #2d2d2d;
}
