.AccountVideoListing {
    
}

.AccountVideoListing ul li {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E5E5E5;
}

.AccountVideoListItem {
    position: relative;
    margin-bottom: 24px;
}
.AccountVideoListItem .action-button {
    display: block;
    width: 100%;
}
.AccountVideoListItem .featured-image {
    position: relative;
    width: 100%;
    padding-bottom: 56.2%;
    background: #E5E5E5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.AccountVideoListItem .featured-image > div {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding: 6px 8px;
    background: rgba(0,226,79,0.75);
}
.AccountVideoListItem .card-container .description {
    margin-top: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.AccountVideoListItem .more-info {
    position: absolute;
    bottom: -12px;
    right: 0;
    color: var(--brand-primary);
    font-size: 0.75rem;
    padding: 8px;
    border-radius: 3px;
}

.AccountVideoListItem .expansion-container {
    padding-top: 24px;
    padding-bottom: 16px;
}