.Wallet .balance-container {
    background-image: linear-gradient(110deg, #333333 0%, #151515 100%);
    box-shadow: -50px 25px 75px -50px rgba(0,0,0,0.50);
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 28px;
}
.Wallet .balance-container > header {
    margin-left: -24px;
    margin-right: -24px;
    background: rgba(0,0,0,0.07);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 40px;
}
.Wallet .balance-container .balances {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.Wallet .balance-container .balances > div {
    width: 50%;
    flex-shrink: 0;
}

.Wallet .token-metrics-container {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    padding-right: 24px;
}
.Wallet .token-metrics-container > div {
    width: 50%;
    flex-shrink: 0;
}
.Wallet .token-metrics-container b {
    font-size: 1rem;
}