.BrowseView {
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    right: 0;
    bottom: 0;
    overflow: auto;
}
.BrowseView > header {
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    right: 0;
    display: flex;
    align-items: center;
    padding: 40px var(--gutter);
    z-index: 1;
    pointer-events: none;
}
.BrowseView > aside {
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    right: 0;
    padding: 40px var(--gutter);
    z-index: 2;
}
.BrowseView button {
    pointer-events: all;
}
.BrowseView .Stats {
    margin-left: var(--gutter);
}
.BrowseView .search-backdrop {
    z-index: 1 !important;
    background-color: rgba(0, 0, 0, 0.8);
}
.BrowseView > footer {
    position: fixed;
    bottom: 0;
    right: 0;
    pointer-events: none;
    padding: 4px 16px;
}