.UploadView {
    padding: 128px 64px !important;
}
.UploadView .upload-page-container {
    position: relative;
}
.UploadView .upload-page-container > div {
    position: absolute;
    width: 100%;
}
.UploadView .gutter-bottom {
    margin-bottom: 30px;
}
.UploadView .indent {
    padding-left: 16px;
}
.UploadView .upload-form-nav {
    text-align: right;
}
.UploadView .upload-form-nav > * + * {
    margin-left: 8px;
}
.UploadView .video-input {
    padding-top: 130px;
    padding-bottom: 140px;
    text-align: center;
}
.UploadView .video-preview {
    width: 100%;
    padding-bottom: 56.25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.UploadView .pricing-card {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 16px;
    padding-bottom: 64px;
    border-radius: 4px;
    background: white;
    height: 300px;
    width: 100%;
    overflow: hidden;
}
.UploadView .pricing-card.selected {
    box-shadow: 0px 0px 1px 1px var(--brand-primary);
}
.UploadView .custom-pricing .selected {
    box-shadow: 0px 0px 1px 1px var(--brand-primary);
}
.UploadView .custom-pricing .selected .headline {
    color: var(--brand-primary);
}
.UploadView .pricing-card.selected .headline {
    color: var(--brand-primary);
}
.UploadView .pricing-card.selected .label {
    background: var(--brand-primary);
}
.UploadView .pricing-card .headline {
    margin-bottom: auto;
}
.UploadView .pricing-card .label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 8px;
    background: gray;
}
.UploadView .pricing-card .pricing-table {
    width: 100%;
}
.UploadView .pricing-card .pricing-table > div {
    display: flex;
    align-items: center;
}
.UploadView .pricing-card .pricing-table > div > * {
    width: 50%;
}
.UploadView .custom-pricing .profit-input-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 16px;
}
.UploadView .custom-pricing .profit-input-container > :first-child {
    margin-right: 16px;
    width: 50px;
    flex-shrink: 0;
    flex-grow: 0;
    color: var(--brand-primary);
}
.UploadView .custom-pricing .profit-input-container > :last-child {
    position: absolute;
    top: 100%;
    right: 0;
}
.UploadView .custom-pricing .stake-input-container {
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.UploadView .custom-pricing .stake-input-container > :first-child {
    margin-right: 8px;
}
.UploadView .custom-pricing .stake-input-container input {
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: right;
    width: 140px;
    font-size: 1.5rem;
    color: var(--brand-primary);
}