.TeaserCard {
    --fullscreen-transition-duration: 300ms;
    --fullscreen-transition-ease: var(--enter-teaser-ease);
}
.TeaserCard .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 75%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 75%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.75) 75%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.TeaserCard .media-container {
    position: relative;
    z-index: 2;
    pointer-events: none;
}
.TeaserCard .media-container .action-pane {
    width: 50%;
}
.TeaserCard .media-container .play-button {
    position: relative;
    margin-top: 16px;
    padding-left: 50px;
    background: #03B742;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.TeaserCard .media-container .play-button .play-icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00CC47;
}
.TeaserCard .media-container .action-pane button {
    pointer-events: all;
}
.TeaserCard .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.2%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    pointer-events: all;

    transition: transform var(--fullscreen-transition-duration) var(--fullscreen-transition-ease);
    transform-origin: top center;
    transform: scale(1);
}
.TeaserCard .content-container {
    /* Just making room for the scroll bar */
    padding-right: 17px;
    box-sizing: content-box;
    z-index: 1;
}
.TeaserCard .loading-overlay {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    transition: all var(--fullscreen-transition-duration) var(--fullscreen-transition-ease);
    opacity: 0;
    visibility: hidden;
    background: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}


.TeaserCard-fullscreen-enter-active .video-container, .TeaserCard-fullscreen-enter-done .video-container {
    transform: scale(1.75); /* 50vw * 1.75 = 87.5vw */
}
.TeaserCard-fullscreen-enter-active .hide-fullscreen, .TeaserCard-fullscreen-enter-done .hide-fullscreen {
    visibility: hidden;
    transition: none !important;
}
.TeaserCard-fullscreen-enter-active .loading-overlay, .TeaserCard-fullscreen-enter-done .loading-overlay {
    opacity: 1;
    visibility: visible;
}
