.TeaserListing {
    width: 100%;  /* assumes width of container */
}
.TeaserListing .media-container {
    width: 100%;
    padding-bottom: 56.25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 8px;
}
.TeaserListing .content-container {
    
}