.VideoPlaybackModal {
    position: fixed;
    background: #000000;
    opacity: 0;
    transition: all 350ms ease-out;
    pointer-events: none;
}
.VideoPlaybackModal.playback-modal-enter-active, .VideoPlaybackModal.playback-modal-enter-done {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 1;
}

