.MainLayout {
    height: 100%;
    position: relative;
    padding-left: var(--sidebar-width);
    overflow: hidden;
}

.MainNavigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--sidebar-width);
    transition: all 250ms ease-out;
    opacity: 1;
}
.MainNavigation.offcanvas {
    opacity: 0;
    transform: translateX(calc(-1 * var(--sidebar-width)));
}

.overlay-views-container {
    position: relative;
    width: 100%;
}
.overlay-view-container {
    position: relative;
    height: 100vh;
    width: 100%;
}
.overlay-view-container > div {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #111111;
}