.MainLayout {
    padding-left: var(--sidebar-width);
}

.MainNavigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
}
.MainNavigation > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.MainNavigation a {
    width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    border-radius: 0;
    height: 140px;
}